<div class="flex flex-col justify-around items-center h-full">
    <div>
        Some light stuff
    </div>
    <div>
        <.button>Min</.button>
        <.button>^</.button>
        <.button>v</.button>
        <.button>Max</.button>
    </div>
</div>