<header class="w-[calc(100%-4rem)] ml-16 bg-slate-300 h-16 absolute flex flex-row items-center justify-center">

</header>

<div class="h-full w-16 bg-slate-400 fixed flex flex-col items-center pt-4">
  <.button>=</.button>
  <div> HI </div>
</div>



<main class="w-full h-full">
  <div class="h-screen flex flex-col items-center justify-around">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
